*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

nav {
    background-color: #1E3E83;
}

.landing {
    height: 50vh;
    background-color: #1E3E83;
    clip-path: ellipse(60% 70% at 50% 30%);
}

.landing .slogan {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing .slogan h1 {
    margin-bottom: 1.5rem;
}

#P {
    font-size: 2.8rem;
    background: -webkit-linear-gradient(#150050, #FF0E65);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing .slogan h1 {
    font-size: 2rem;
    font-weight: 800;
}

.startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.startBtn button {
    background-color: #1E3E83;
    color: #FFFF;
}

.quizes {
    min-height: 100vh;
}

.quizes .header {
    margin-bottom: 2rem;
}

.quizes .questions form {
    width: 50%;
    height: auto;
}

.quizes .questions form label {
    color: #150050;
}

#submit {
    background-color: #150050;
}