*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

nav {
    background-color: #1E3E83;
}

nav .collapse ul li a:hover {
    background-color: #FF0E65;
    color: #FFFF;
}

.landing {
    height: 50vh;
    background-color: #1E3E83;
    clip-path: ellipse(60% 70% at 50% 30%);
    transition: .2s all;
}

.landing .slogan {
    min-height: 50vh;
    transition: 1s all;
}

.landing .slogan h1 {
    margin-bottom: 1.5rem;
}

#P {
    font-size: 2.8rem;
    background: linear-gradient(#150050, #FF0E65);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing .slogan h1 {
    font-size: 2rem;
    font-weight: 800;
}

.startBtn {
    min-height: 50vh;
}

.startBtn button {
    background-color: #1E3E83;
    color: #FFFF;
    transition: .2s all;
}

.startBtn button:hover {
    background-color: #FF0E65;
    color: #FFFF;
}

.quizes {
    position: relative;
    min-height: 100vh;
}

.quizes .header {
    margin-bottom: 2rem;
}

.quizes .questions form {
    width: 50%;
    height: auto;
}

.quizes .questions form label {
    color: #150050;
}

#submitBtn {
    background-color: #150050;
    transition: .2 all;
}

#submitBtn:hover {
    background-color: #FF0E65;
    color: #FFFF;
}

#scorePopup {
    transition: 3s all;
}

#scorePopup .card {
    position: absolute;
    text-align: center;
    bottom: 20%;
    left: 25%;
    width: 50%;
    height: auto;
    margin: auto;
    color: #150050;
    background-color: #eeeeee;
    transition: 3s all;
}

#scorePopup.close{
    display: none;
}

#scorePopup .card i {
    font-size: 8rem;
    color: rgb(255, 166, 0);
    margin: 3rem 0;
}

#scorePopup .card .closeBtn {
    position: absolute;
    bottom: 1%;
    right: 1%;
}